@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    135deg,
    #0f172a 0%,
    #111827 50%,
    #1e293b 100%
  );

  color: var(--foreground);
  min-height: 100vh;
}